{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Acompanhantes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numeromaximo</th>
                <td>{{ entity.numeroMaximo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('acompanhantes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('acompanhantes_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
